*{
    margin: 0;
    padding: 0;
}


$primary: #c33b80;
$info: #c33b80;
$bg_1:#ff5aa4;
/* $bg_1:#ff1b82; */

@import "../bootstrap/scss/bootstrap";
@import "estructura";
@import "multimedia";
@import "colores";
@import "tipografia";